<launch>

  <!-- cascaded pid control node -->
  <node pkg="cascaded_pid_control" type="cascaded_pid_control" name="CascadedPidControl" output="screen">
    <remap from="~odometry" to="/CheatOdometryNode/odometry" />
    <remap from="~rateThrust" to="/uav/input/rateThrust" />

    <param name="~publish_debug_topic" value="True" />
  </node>

  <!-- cheat odometry node -->
  <node pkg="cascaded_pid_control" type="cheat_odometry_node" name="CheatOdometryNode" output="screen" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_start"
  	args="18 -23 5.3 0 0 0.707 0.707 world start" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="start_to_map"
      args="23 18 -5.3  0 0 0.707 -0.707 start map" />    

</launch>